language: php

sudo: false

services:
    - docker
    - redis-server

cache:
    directories:
        - $HOME/.composer/cache/files

php:
    - 7.2
    - 7.3

matrix:
    fast_finish: true

before_install:
    - docker pull schickling/beanstalkd
    - docker run -d -p 11300:11300 schickling/beanstalkd

install:
    - travis_retry composer update ${COMPOSER_FLAGS} --prefer-dist --no-interaction

script:
    - composer test
    - composer check-quality
